<a href="https://colab.research.google.com/github/SIDDU-9494/HeartDisease/blob/main/HousePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/Housetrain.csv')

In [ ]:
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
data.fillna(0)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,0,Reg,Lvl,AllPub,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,0,Reg,Lvl,AllPub,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,0,IR1,Lvl,AllPub,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,0,IR1,Lvl,AllPub,...,0,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,0,IR1,Lvl,AllPub,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,0,Reg,Lvl,AllPub,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,0,Reg,Lvl,AllPub,...,0,0,MnPrv,0,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,0,Reg,Lvl,AllPub,...,0,0,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,0,Reg,Lvl,AllPub,...,0,0,0,0,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,0,Reg,Lvl,AllPub,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [ ]:
data['MSZoning']=data['MSZoning'].replace({'RL':0,'RM':1,'FV':2,'RH':3,'C (all)':4})

In [ ]:
data['Street']=data['Street'].replace({'Pave':0,'Grvl':1})

In [ ]:
data['Alley']=data['Alley'].replace({'Grvl':1,'Pave':2})

In [ ]:
data['LotShape']=data['LotShape'].replace({'Reg':1,'IR1':2,'IR2':3,'IR3':4})

In [ ]:
data['LotFrontage'].fillna(0)

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [ ]:
data['LandContour'].value_counts()

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64

In [ ]:
data['LandContour']=data['LandContour'].replace({'Lvl':1,'Bnk':2,'HLS':3,'Low':4})

In [ ]:
data['Utilities'].value_counts()

AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64

In [ ]:
data['Utilities']=data['Utilities'].replace({'AllPub':1,'NoSeWa':2})

In [ ]:
data['LotConfig'].value_counts()

Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: LotConfig, dtype: int64

In [ ]:
data['LotConfig']=data['LotConfig'].replace({'Inside':1,'Corner':2,'CulDSac':3,'FR2':4,'FR3':5})

In [ ]:
data['LandSlope'].value_counts()

Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64

In [ ]:
data['LandSlope']=data['LandSlope'].replace({'Gtl':1,'Mod':2,'Sev':3})

In [ ]:
data['Neighborhood'].value_counts()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64

In [ ]:
data['Neighborhood']=data['Neighborhood'].replace({'NAmes':1,'CollgCr':2,'OldTown':3,'Edwards':4,'Somerst':5,'Gilbert':6,'NridgHt':7,'Sawyer':8,'NWAmes':9,'SawyerW':10,'BrkSide':11,'Crawfor':12,'Mitchel':13,'NoRidge':14,'Timber':15,'IDOTRR':16,'ClearCr':17,'StoneBr':18,'SWISU':19,'MeadowV':20,'Blmngtn':21,'BrDale':22,'Veenker':23,'NPkVill':24,'Blueste':25})

In [ ]:
data['Condition1'].value_counts()

Norm      1260
Feedr       81
Artery      48
RRAn        26
PosN        19
RRAe        11
PosA         8
RRNn         5
RRNe         2
Name: Condition1, dtype: int64

In [ ]:
data['Condition1']=data['Condition1'].replace({'Norm':1,'Feedr':2,'Artery':3,'RRAn':4,'PosN':5,'RRAe':6,'PosA':7,'RRNn':8,'RRNe':9})

In [ ]:
data['ExterCond'].value_counts()

TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: ExterCond, dtype: int64

In [ ]:
data['Condition2']=data['Condition2'].replace({'Norm':1,'Feedr':2,'Artery':3,'RRAn':4,'PosN':5,'RRAe':6,'PosA':7,'RRNn':8,})

In [ ]:
data['BldgType'].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

In [ ]:
data['BldgType']=data['BldgType'].replace({'1Fam':1,'TwnhsE':2,'Duplex':3,'Twnhs':4,'2fmCon':5})

In [ ]:
data['BsmtFinType2'].value_counts()

Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64

In [ ]:
data['HouseStyle']=data['HouseStyle'].replace({'1Story':1,'2Story':2,'1.5Fin':3,'SLvl':4,'SFoyer':5,'1.5Unf':6,'2.5Unf':7,'2.5Fin':8})

In [ ]:
data['RoofStyle']=data['RoofStyle'].replace({'Gable':1,'Hip':2,'Flat':3,'Gambrel':4,'Mansard':5,'Shed':6})

In [ ]:
data['RoofMatl']=data['RoofMatl'].replace({'CompShg':1,'Tar&Grv':2,'WdShngl':3,'WdShake':4,'Metal':5,'Membran':6,'Roll':7,'ClyTile':8})

In [ ]:
data['Exterior1st']=data['Exterior1st'].replace({'VinylSd':1,'HdBoard':2,'MetalSd':3,'Wd Sdng':4,'Plywood':5,'CemntBd':6,'BrkFace':7,'WdShing':8,'Stucco':9,'AsbShng':10,'BrkComm':11,'Stone':12,'AsphShn':13,'ImStucc':14,'CBlock':15})

In [ ]:
data['Exterior2nd']=data['Exterior2nd'].replace({'VinylSd':1,'HdBoard':2,'MetalSd':3,'Wd Sdng':4,'Plywood':5,'CmentBd':6,'Wd Shng':7,'Stucco':8,'BrkFace':9,'AsbShng':10,'ImStucc':11,'Brk Cmn':12,'Stone':13,'AsphShn':14,'Other':15,'CBlock':16})

In [ ]:
data['MasVnrType']=data['MasVnrType'].replace({'None':1,'BrkFace':2,'Stone':3,'BrkCmn':4})

In [ ]:
data['ExterQual']=data['ExterQual'].replace({'TA':1,'Gd':2,'Ex':3,'Fa':4})

In [ ]:
data['BsmtQual']=data['BsmtQual'].replace({'TA':1,'Gd':2,'Ex':3,'Fa':4})

In [ ]:
data['BsmtQual']=data['BsmtQual'].replace({1.0:1,2.0:2,3.0:3,4.0:4})

In [ ]:
data['ExterCond']=data['ExterCond'].replace({'TA':1,'Gd':2,'Fa':3,'Ex':4,'Po':5})

In [ ]:
data['Foundation']=data['Foundation'].replace({'PConc':1,'CBlock':2,'BrkTil':3,'Slab':4,'Stone':5,'Wood':6})

In [ ]:
data['BsmtCond']=data['BsmtCond'].replace({'TA':1,'Gd':2,'Fa':3,'Po':4})

In [ ]:
data['BsmtExposure']=data['BsmtExposure'].replace({'No':1,'Av':2,'Gd':3,'Mn':4})

In [ ]:
data['BsmtFinType1']=data['BsmtFinType1'].replace({'Unf':1,'GLQ':2,'ALQ':3,'BLQ':4,'Rec':5,'LwQ':6})

In [ ]:
data['BsmtFinType2']=data['BsmtFinType2'].replace({'Unf':1,'Rec':2,'LwQ':3,'BLQ':4,'ALQ':5,'GLQ':6})

In [ ]:
data['Heating']=data['Heating'].replace({'GasA':1,'GasW':2,'Grav':3,'Wall':4,'OthW':5,'Floor':6})

In [ ]:
data['HeatingQC']=data['HeatingQC'].replace({'Ex':1,'TA':2,'Gd':3,'Fa':4,'Po':5})

In [ ]:
data['CentralAir'].value_counts()

Y    1365
N      95
Name: CentralAir, dtype: int64

In [ ]:
data['CentralAir']=data['CentralAir'].replace({'Y':1,'N':2})

In [ ]:
data['Electrical']=data['Electrical'].replace({'SBrkr':1,'FuseA':2,'FuseF':3,'FuseP':4,'Mix':5})

In [ ]:
data['KitchenQual']=data['KitchenQual'].replace({'TA':1,'Gd':2,'Ex':3,'Fa':4})

In [ ]:
data['Functional']=data['Functional'].replace({'Typ':1,'Min2':2,'Min1':3,'Mod':4,'Maj1':5,'Maj2':6,'Sev':7})

In [ ]:
data['FireplaceQu'].fillna(0)

0        0
1       TA
2       TA
3       Gd
4       TA
        ..
1455    TA
1456    TA
1457    Gd
1458     0
1459     0
Name: FireplaceQu, Length: 1460, dtype: object

In [ ]:
data['FireplaceQu'].value_counts()

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64

In [ ]:
data['FireplaceQu']=data['FireplaceQu'].replace({'Gd':1,'TA':2,'Fa':3,'Ex':4,'Po':5})

In [ ]:
data['FireplaceQu']=data['FireplaceQu'].replace({1.0:1,2.0:2,3.0:3,4.0:4,5.0:5})

In [ ]:
data['GarageType']=data['GarageType'].replace({'Attchd':1,'Detchd':2,'BuiltIn':3,'Basment':4,'CarPort':5,'2Types':6})

In [ ]:
data['MiscFeature'].fillna(0)

0          0
1          0
2          0
3          0
4          0
        ...
1455       0
1456       0
1457    Shed
1458       0
1459       0
Name: MiscFeature, Length: 1460, dtype: object

In [ ]:
data['GarageFinish']=data['GarageFinish'].replace({'Unf':1,'RFn':2,'Fin':3})

In [ ]:
data['GarageQual']=data['GarageQual'].replace({'TA':1,'Fa':2,'Gd':3,'Ex':4,'Po':5})

In [ ]:
data['GarageQual']=data['GarageQual'].replace({1.0:1,2.0:2,3.0:3,4.0:4,5.0:5})

In [ ]:
data['GarageCond']=data['GarageCond'].replace({'TA':1,'Fa':2,'Gd':3,'Po':4,'Ex':5})

In [ ]:
data['GarageCond']=data['GarageCond'].replace({1.0:1,2.0:2,3.0:3,4.0:4,5.0:5})

In [ ]:
data['PavedDrive']=data['PavedDrive'].replace({'Y':1,'N':2,'P':3})

In [ ]:
data['GarageFinish']=data['GarageFinish'].replace({1.0:1,2.0:2,3.0:3})

In [ ]:
data['PoolQC']=data['PoolQC'].replace({'Gd':1,'Ex':2,'Fa':3})

In [ ]:
data['PoolQC']=data['PoolQC'].replace({1.0:1,2.0:2,3.0:3})

In [ ]:
data['Fence']=data['Fence'].replace({'MnPrv':1,'GdPrv':2,'GdWo':3,'MnWw':4})

In [ ]:
data['MiscFeature']=data['MiscFeature'].replace({'Shed':1,'Gar2':2,'Othr':3,'TenC':4})

In [ ]:
data['SaleType']=data['SaleType'].replace({'WD':1,'New':2,'COD':3,'ConLD':4,'ConLI':5,'ConLw':6,'CWD':7,'Oth':8,'Con':9})

In [ ]:
data['SaleType'].value_counts()

1    1267
2     122
3      43
4       9
5       5
6       5
7       4
8       3
9       2
Name: SaleType, dtype: int64

In [ ]:
data['SaleCondition']=data['SaleCondition'].replace({'Normal':1,'Partial':2,'Abnorml':3,'Family':4,'Alloca':5,'AdjLand':6})

In [ ]:
X_train=data.drop('SalePrice',axis=1)

In [ ]:
y_train=data['SalePrice']

In [ ]:
import numpy as np

In [ ]:
X_train = X_train.values.astype(np.int)

<ipython-input-72-f038f77cc827>:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_train = X_train.values.astype(np.int)

In [ ]:
data.replace([np.inf, -np.inf], np.nan, inplace=True)

In [ ]:
test_data=pd.read_csv('/content/drive/MyDrive/Housetest.csv')
test_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [ ]:
test_data.replace([np.inf, -np.inf], np.nan, inplace=True)

In [ ]:
test_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [ ]:
test_data['GarageCond'].value_counts()

TA    1328
Fa      39
Po       7
Gd       6
Ex       1
Name: GarageCond, dtype: int64

In [ ]:
test_data['Neighborhood']=test_data['Neighborhood'].replace({'NAmes':1,'CollgCr':2,'OldTown':3,'Edwards':4,'Somerst':5,'Gilbert':6,'NridgHt':7,'Sawyer':8,'NWAmes':9,'SawyerW':10,'BrkSide':11,'Crawfor':12,'Mitchel':13,'NoRidge':14,'Timber':15,'IDOTRR':16,'ClearCr':17,'StoneBr':18,'SWISU':19,'MeadowV':20,'Blmngtn':21,'BrDale':22,'Veenker':23,'NPkVill':24,'Blueste':25})

In [ ]:
test_data['MSZoning']=test_data['MSZoning'].replace({'RL':0,'RM':1,'FV':2,'C (all)':3,'RH':4})

In [ ]:
test_data['Street']=test_data['Street'].replace({'Pave':0,'Grvl':1})

In [ ]:
test_data['Alley']=test_data['Alley'].replace({'Grvl':1,'Pave':2})

In [ ]:
test_data['LotShape']=test_data['LotShape'].replace({'Reg':1,'IR1':2,'IR2':3,'IR3':4})

In [ ]:
test_data['LandContour']=test_data['LandContour'].replace({'Lvl':1,'Bnk':3,'HLS':2,'Low':4})

In [ ]:
test_data['Utilities']=test_data['Utilities'].replace({'AllPub':1})

In [ ]:
test_data['LotConfig']=test_data['LotConfig'].replace({'Inside':1,'Corner':2,'CulDSac':3,'FR2':4,'FR3':5})

In [ ]:
test_data['LandSlope']=test_data['LandSlope'].replace({'Gtl':1,'Mod':2,'Sev':3})

In [ ]:
test_data['Condition1']=test_data['Condition1'].replace({'Norm':1,'Feedr':2,'Artery':3,'RRAn':4,'PosN':5,'RRAe':6,'PosA':7,'RRNn':8,'RRNe':9})

In [ ]:
test_data['Condition2']=test_data['Condition2'].replace({'Norm':1,'Feedr':2,'Artery':3,'PosN':5,'PosA':4})

In [ ]:
test_data['BldgType']=test_data['BldgType'].replace({'1Fam':1,'TwnhsE':2,'Duplex':3,'Twnhs':4,'2fmCon':5})

In [ ]:
test_data['HouseStyle']=test_data['HouseStyle'].replace({'1Story':1,'2Story':2,'1.5Fin':3,'SLvl':4,'SFoyer':5,'1.5Unf':7,'2.5Unf':6})

In [ ]:
test_data['RoofStyle']=test_data['RoofStyle'].replace({'Gable':1,'Hip':2,'Flat':4,'Gambrel':3,'Mansard':5,'Shed':6})

In [ ]:
test_data['RoofMatl']=test_data['RoofMatl'].replace({'CompShg':1,'Tar&Grv':2,'WdShngl':4,'WdShake':3})

In [ ]:
test_data['Exterior1st']=test_data['Exterior1st'].replace({'VinylSd':1,'HdBoard':3,'MetalSd':2,'Wd Sdng':4,'Plywood':5,'CemntBd':6,'BrkFace':7,'WdShing':8,'Stucco':10,'AsbShng':9,'BrkComm':11,'AsphShn':12,'CBlock':13})

In [ ]:
test_data['Exterior2nd']=test_data['Exterior2nd'].replace({'VinylSd':1,'HdBoard':3,'MetalSd':2,'Wd Sdng':4,'Plywood':5,'CmentBd':6,'Wd Shng':7,'Stucco':9,'BrkFace':8,'AsbShng':10,'ImStucc':12,'Brk Cmn':11,'Stone':14,'AsphShn':15,'CBlock':13})

In [ ]:
test_data['MasVnrType']=test_data['MasVnrType'].replace({'None':1,'BrkFace':2,'Stone':3,'BrkCmn':4})

In [ ]:
test_data['ExterQual']=test_data['ExterQual'].replace({'TA':1,'Gd':2,'Ex':3,'Fa':4})

In [ ]:
test_data['ExterCond']=test_data['ExterCond'].replace({'TA':1,'Gd':2,'Fa':3,'Ex':4,'Po':5})

In [ ]:
test_data['Foundation']=test_data['Foundation'].replace({'PConc':1,'CBlock':2,'BrkTil':3,'Slab':4,'Stone':5,'Wood':6})

In [ ]:
test_data['BsmtQual']=test_data['BsmtQual'].replace({'TA':1,'Gd':2,'Ex':3,'Fa':4})

In [ ]:
test_data['BsmtCond']=test_data['BsmtCond'].replace({'TA':1,'Gd':3,'Fa':2,'Po':4})

In [ ]:
test_data['BsmtExposure']=test_data['BsmtExposure'].replace({'No':1,'Av':2,'Gd':3,'Mn':4})

In [ ]:
test_data['BsmtFinType1']=test_data['BsmtFinType1'].replace({'Unf':2,'GLQ':1,'ALQ':3,'BLQ':5,'Rec':4,'LwQ':6})

In [ ]:
test_data['BsmtFinType2']=test_data['BsmtFinType2'].replace({'Unf':1,'Rec':2,'LwQ':3,'BLQ':4,'ALQ':5,'GLQ':6})

In [ ]:
test_data['Heating']=test_data['Heating'].replace({'GasA':1,'GasW':2,'Grav':3,'Wall':4})

In [ ]:
test_data['HeatingQC']=test_data['HeatingQC'].replace({'Ex':1,'TA':2,'Gd':3,'Fa':4,'Po':5})

In [ ]:
test_data['CentralAir']=test_data['CentralAir'].replace({'Y':1,'N':2})

In [ ]:
test_data['Electrical']=test_data['Electrical'].replace({'SBrkr':1,'FuseA':2,'FuseF':3,'FuseP':4})

In [ ]:
test_data['KitchenQual']=test_data['KitchenQual'].replace({'TA':1,'Gd':2,'Ex':3,'Fa':4})

In [ ]:
test_data['Functional']=test_data['Functional'].replace({'Typ':1,'Min2':2,'Min1':3,'Mod':4,'Maj1':5,'Maj2':6,'Sev':7})

In [ ]:
test_data['LotFrontage'].value_counts()

60.0     133
80.0      68
70.0      63
50.0      60
75.0      52
        ...
117.0      1
31.0       1
119.0      1
25.0       1
140.0      1
Name: LotFrontage, Length: 115, dtype: int64

In [ ]:
test_data['FireplaceQu']=test_data['FireplaceQu'].replace({'Gd':1,'TA':2,'Fa':3,'Ex':5,'Po':4})

In [ ]:
test_data['GarageType']=test_data['GarageType'].replace({'Attchd':1,'Detchd':2,'BuiltIn':3,'Basment':4,'CarPort':6,'2Types':5})

In [ ]:
test_data['GarageFinish']=test_data['GarageFinish'].replace({'Unf':1,'RFn':2,'Fin':3})

In [ ]:
test_data['GarageQual']=test_data['GarageQual'].replace({'TA':1,'Fa':2,'Gd':3,'Po':4})

In [ ]:
test_data['GarageCond']=test_data['GarageCond'].replace({'TA':1,'Fa':2,'Gd':4,'Po':3,'Ex':5})

In [ ]:
test_data['PavedDrive']=test_data['PavedDrive'].replace({'Y':1,'N':2,'P':3})

In [ ]:
test_data['PoolQC']=test_data['PoolQC'].replace({'Gd':2,'Ex':1})

In [ ]:
test_data['Fence']=test_data['Fence'].replace({'MnPrv':1,'GdPrv':2,'GdWo':3,'MnWw':4})

In [ ]:
test_data['MiscFeature'].fillna(0)

0          0
1       Gar2
2          0
3          0
4          0
        ...
1454       0
1455       0
1456       0
1457    Shed
1458       0
Name: MiscFeature, Length: 1459, dtype: object

In [ ]:
test_data['MiscFeature']=test_data['MiscFeature'].replace({'Shed':1,'Gar2':2,'Othr':3})

In [ ]:
test_data['SaleType']=test_data['SaleType'].replace({'WD':1,'New':2,'COD':3,'ConLD':4,'ConLI':7,'ConLw':9,'CWD':5,'Oth':6,'Con':8})

In [ ]:
test_data['SaleCondition']=test_data['SaleCondition'].replace({'Normal':1,'Partial':2,'Abnorml':3,'Family':4,'Alloca':5,'AdjLand':6})

In [ ]:
X_test=test_data[['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition']]

In [ ]:
test_data.replace([np.inf, -np.inf], np.nan, inplace=True)

In [ ]:
X_test = X_test.values.astype(np.int)

<ipython-input-125-d50ecc920556>:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_test = X_test.values.astype(np.int)

In [ ]:
from sklearn.ensemble import RandomForestRegressor


# define used regression
model=RandomForestRegressor(n_estimators=10,max_depth=15,criterion='mse')

In [ ]:
model.fit(X_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

RandomForestRegressor(criterion='mse', max_depth=15, n_estimators=10)

In [ ]:
y_test=model.predict(X_test)

In [ ]:
y_test

array([124564.54166667, 153826.81818182, 178593.50833333, ...,
       155820.        , 107165.        , 222985.68181818])

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y_test, y_train[0:1459])

79144.00998418166

In [ ]:
mean_squared_error(y_test, y_train[0:1459])

11642562477.6872

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test,y_train[0:1459])

-1.1560924701474131

In [ ]:
'''from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression

# define the pipeline and train model
model1= Pipeline([('poly', PolynomialFeatures(degree=2)),
                  ('linear', LinearRegression(fit_intercept=False))])
                  
model1.fit(X_train, y_train)'''